Assignments

In [2]:
#Check the length and data types of the following:
Mydata1 = ["Mango", True, 7, 8, 9]
print(len(Mydata1))
print(type(Mydata1))

Mydata2 = [1, 5, 7, 9, 3]
print(len(Mydata2))
print(type(Mydata2))

Mydata3 = ("Mango", 700, 1000, "Banana")
print(len(Mydata3))
print(type(Mydata3))

Mydata4 = {True, False, False}
print(len(Mydata4))
print(type(Mydata4))

5
<class 'list'>
5
<class 'list'>
4
<class 'tuple'>
2
<class 'set'>

In [4]:

#Create and print a list containing 4 elements of different data types and check the length of the list.
list=("abc",34,True,"male")
print(type(list))
print(len(list))

<class 'tuple'>
4

In [6]:

#Create & print a dictionary conataining the following values:
thisdict={
"Employee id": "100041",
"Employee name": "Rohan",
"Country": "India"
}
print(thisdict)

{'Employee id': '100041', 'Employee name': 'Rohan', 'Country': 'India'}

What is the difference between
1: List and tuple
List-It is changeable.
Tuple-It is unchangeable.

2: Set and dictionary 
Set-It is unordered, unchangeable.
Dictionary- It is ordered, changeable.

3: List and set
List-It is changeable.
Set-It is unchangeable.