Assignments

In [1]:
#1.) Insert the missing indentation to make the code correct:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

In [3]:
#2. Create a variable named carname and assign the value Volvo to it and then print the variable.
carname = "Volvo"
print("carname")

carname

In [4]:
#3. Create a variable named x and assign the value 50 to it and print the variable.
x=50
print("X")

X

In [5]:
#4. Display the sum of 10 + 30, using two variables: x and y.
x=10
y=30
print(x+y)

40

In [6]:
#5. Create a variable called z, assign x + y to it where x = 50 & y=100, and display the result.
x=50
y=100
z=x+y
print(z)

150

In [7]:
#6. Print the data Types of the following:
x = "Hello Python"
print(type(x))		
x = 55	
print(type(x))	
x = 100.5	
print(type(x))	
x = 5j
print(type(x))		
x = ["apple", "banana", "mango"]	
print(type(x))		
x = ("apple", "banana", "mango")
print(type(x))	
x = {"name" : "rohan", "age" : 25}	
print(type(x))	
x = {"apple", "banana", "mango"}
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [8]:
#7. Use a multiline string to make the a multi line comment:
a="""This is a python multiline comment
written in 
more that just one line"""
print(a)

This is a python multiline comment
written in
more that just one line

In [ ]:
#8. Give examples of legal variables and illegal variables.
#legal variables
#abhishek
#ABHISHEK

#illegal variables
#2abhishek
#abhi-shek

In [12]:
#9. Exercise:
#Find the  the length of the string.
x = "Greetings of the day"
print(len(x))

20

In [15]:
#10. Get the first character of the string txt.
txt = "Hello Netzwerk Academy"
print(txt[1])

e

In [16]:
#11. Get the characters from index 2 to index 4 (llo).
txt = "Hello Netzwerk Academy"
print(txt[2:4])

ll